<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- Provide support for component scanning -->
<<<<<<<< HEAD:Example/src/main/webapp/WEB-INF/spring-servlet.xml
	<context:component-scan base-package="com.infinite" />
========
	<context:component-scan base-package="com.infinite.pdf" />
>>>>>>>> f57e53b43e7f9f7cc895b0a07981543e6ecffbd9:SpringMVCTask1/src/main/webapp/WEB-INF/spring-servlet.xml
	<!--Provide support for conversion, formatting and validation -->
	<mvc:annotation-driven />
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
<<<<<<<< HEAD:Example/src/main/webapp/WEB-INF/spring-servlet.xml
			<value>/WEB-INF/jsp/</value>
========
			<value>/WEB-INF/jsppages/</value>
>>>>>>>> f57e53b43e7f9f7cc895b0a07981543e6ecffbd9:SpringMVCTask1/src/main/webapp/WEB-INF/spring-servlet.xml
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
		<property name="order" value="1" />
	</bean>
</beans>