<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletExample</display-name>
  <welcome-file-list>
    <welcome-file>Insert.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.infinite.servlet.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>com.infinite.servlet.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseExample</display-name>
    <servlet-name>ResponseExample</servlet-name>
    <servlet-class>com.infinite.servlet.ResponseExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseExample</servlet-name>
    <url-pattern>/ResponseExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigExample</display-name>
    <servlet-name>ConfigExample</servlet-name>
    <servlet-class>com.infinite.servlet.ConfigExample</servlet-class>
    <init-param>
      <param-name>Mysql</param-name>
      <param-value>com.mysql.java.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>Oracle</param-name>
      <param-value>com.oracle.java.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigExample</servlet-name>
    <url-pattern>/ConfigExample</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter1</display-name>
    <filter-name>Filter1</filter-name>
    <filter-class>com.infinite.servlet.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/Filter1</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.infinite.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome1</display-name>
    <servlet-name>Welcome1</servlet-name>
    <servlet-class>com.infinite.register.Welcome1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome1</servlet-name>
    <url-pattern>/Welcome1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServletExample</display-name>
    <servlet-name>CookieServletExample</servlet-name>
    <servlet-class>com.infinite.servlet.CookieServletExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServletExample</servlet-name>
    <url-pattern>/CookieServletExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionExample</display-name>
    <servlet-name>HttpSessionExample</servlet-name>
    <servlet-class>com.infinite.servlet.HttpSessionExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionExample</servlet-name>
    <url-pattern>/HttpSessionExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.infinite.register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertExample</display-name>
    <servlet-name>InsertExample</servlet-name>
    <servlet-class>com.infinite.servlet.InsertExample</servlet-class>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertExample</servlet-name>
    <url-pattern>/InsertExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExample</display-name>
    <servlet-name>DeleteExample</servlet-name>
    <servlet-class>com.infinite.servlet.DeleteExample</servlet-class>
    <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExample</servlet-name>
    <url-pattern>/DeleteExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExample</display-name>
    <servlet-name>UpdateExample</servlet-name>
    <servlet-class>com.infinite.servlet.UpdateExample</servlet-class>
      <init-param>
      <param-name>mysql</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlusername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlpassword</param-name>
      <param-value>mysql123@</param-value>
    </init-param>
    <init-param>
      <param-name>mysqlurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/training</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExample</servlet-name>
    <url-pattern>/UpdateExample</url-pattern>
  </servlet-mapping>
</web-app>